/*
 * Jeju Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Jeju Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/jejugothic/v3/JejuGothic-Regular.ttf) format('truetype');
}

* { 
    margin: 0; 
    padding: 0; 
    font-size: 10pt; 
    }


body {
    padding-top:10vh;
    color:white;    
    font-family: 'Jeju Gothic','Inconsolata', monospace;

}

#brandheader{
    font-size:4.0em;
}

.maincontent{
    padding-top:30px;
    padding-left:15px;
    padding-right:15px;
    
}

.maincontent li {
    font-size:1.2em;    
}

.featuretextheader{
    font-weight:bold;
    font-size:1.3em;
}

.featureentry{
    margin-top:10px;
}

.joinbutton{
    margin-top:30px;
    font-size:1.4em;
}

.featuretext{
    font-size:large;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /*width: auto;*/
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../../assets/images/bg.jpeg") no-repeat;
    background-size: cover; 
}


footer {
    margin-top:30px;
}
